<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cat.sqliteport">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.cat.sqliteportactivity.DataBrowser"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".M3DataPort"
            android:authorities="com.example.cat.sqliteport"></provider>

        <activity
            android:name=".TableDataActivity"
            android:label="@string/title_activity_table_data"
            android:parentActivityName="com.example.cat.sqliteportactivity.DataBrowser"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cat.sqliteportactivity.DataBrowser" />
        </activity>
        <activity android:name="com.example.cat.sqliteportactivity.TblDataActivity"></activity>
    </application>

</manifest>